/* CSS base (modo escuro por padrão) */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; /* Define a fonte padrão */
    background-color: #0D1117; /* Cor de fundo do modo escuro */
    color: #F2F2F2; /* Cor do texto do modo escuro */
    display: flex;
    flex-direction: column;
}

body.light-mode {
    background-color: #F8FCFF; /* Cor de fundo do modo claro */
    color: #000000; /* Cor do texto no modo claro */
}

header {
    background-color: #010409; /* Cor de fundo do header no modo escuro */
    color: #F2F2F2; /* Cor do texto no header */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body.light-mode header {
    background-color: #ffffff; /* Cor de fundo do header no modo claro */
    color: #000000; /* Cor do texto no header */
}

.navbar {
    display: flex;
    gap: 15px;
}

.nav-link {
    color: #F2F2F2; /* Cor do texto dos botões */
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

body.light-mode .nav-link {
    color: #333333; /* Cor do texto dos botões no modo claro */
}

.nav-link:hover {
    background-color: #171B20; /* Cor de fundo ao passar o mouse */
    color: #F2F2F2; /* Cor do texto ao passar o mouse */
}

body.light-mode .nav-link:hover {
    background-color: #e0e0e0; /* Cor de fundo ao passar o mouse no modo claro */
    color: #000000; /* Cor do texto ao passar o mouse no modo claro */
}

.container {
    background-color: #0D1117; /* Cor de fundo do container no modo escuro */
    border-radius: 8px;
    padding: 20px;
    flex: 1;
    max-width: 600px;
    margin: auto;
}

body.light-mode .container {
    background-color: #ffffff; /* Cor de fundo do container no modo claro */
}

footer {
    background-color: #0D1117; /* Cor de fundo do rodapé no modo escuro */
    color: #F2F2F2; /* Cor do texto no rodapé */
    text-align: center;
    padding: 10px 20px;
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 450px;
    flex-wrap: wrap;
    margin-top: auto; /* Garante que o rodapé fique na parte inferior */
}

body.light-mode footer {
    background-color: #ffffff; /* Cor de fundo do rodapé no modo claro */
    color: #000000; /* Cor do texto no rodapé */
}

.form-group input {
    background-color: #F2F2F2; /* Cor de fundo do campo de entrada */
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    padding: 8px;
    width: 150px;
}

body.light-mode .form-group input {
    background-color: #ffffff; /* Cor de fundo do campo de entrada no modo claro */
    border: 1px solid #cccccc; /* Cor da borda do campo de entrada no modo claro */
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}

body.light-mode .popup-overlay {
    background-color: rgba(255,255,255,0.8); /* Fundo mais claro da sobreposição no modo claro */
}

.popup-content {
    background-color: #0D1117; /* Cor de fundo do popup */
    color: #F2F2F2; /* Cor do texto no popup */
    padding: 50px;
    border-radius: 12px;
    width: 70%;
    max-width: 700px;
    max-height: 70%;
    overflow-y: auto;
    position: relative;
    box-sizing: border-box;
    text-align: left;
}

body.light-mode .popup-content {
    background-color: #ffffff; /* Cor de fundo do popup no modo claro */
    color: #000000; /* Cor do texto no popup no modo claro */
}

.popup-close {
    position: absolute;
    top: 1px;
    right: 15px;
    font-size: 2em;
    cursor: pointer;
    color: #F2F2F2;
}

body.light-mode .popup-close {
    color: #000000; /* Cor do botão de fechar no modo claro */
}

.btn-custom {
    font-family: 'Roboto', sans-serif;
    background-color: #171B20;
    color: #F2F2F2;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

body.light-mode .btn-custom {
    background-color: #e0e0e0; /* Cor de fundo dos botões no modo claro */
    color: #000000; /* Cor do texto dos botões no modo claro */
}

.btn-custom:hover {
    background-color: #1e1e1e;
    color: #F2F2F2;
}

body.light-mode .btn-custom:hover {
    background-color: #cccccc; /* Cor de fundo ao passar o mouse no modo claro */
    color: #000000; /* Cor do texto ao passar o mouse no modo claro */
}

/* Novo CSS para o ícone de alternância de tema */
.mode-toggle {
    cursor: pointer; /* Cursor em forma de mãozinha */
}
