<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TidyUp</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo-text">TidyUp</div>
        <nav class="navbar">
            <a href="#" class="nav-link" id="sobre-btn">Sobre</a>
            <a href="#" class="nav-link">Tutorial</a>
            <a href="#" class="nav-link">Mais Ferramentas</a>
        </nav>
    </header>
    <div class="container mt-5">
        <h1 class="text-center">Gerar Script de Organização de Arquivos</h1>
        <form method="post" action="{% url 'generate_script' %}" class="mt-4">
            {% csrf_token %}
            <div class="form-group">
                <label for="num_digitos">Quantidade de dígitos:</label>
                <input type="text" id="num_digitos" name="num_digitos" class="form-control" 
                    pattern="\d{1,4}" maxlength="4" title="Insira entre 1 e 4 dígitos numéricos" required>
                <small class="form-text text-muted">Digite entre 1 e 4 dígitos numéricos.</small>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Gerar Script</button>
            </div>
        </form>
        {% if message %}
            <div class="alert alert-info mt-4">{{ message }}</div>
        {% endif %}
    </div>
    <footer>
        <div class="copyright">
            © 2024 HGB Soft
        </div>
    </footer>
    <!-- Popup -->
    <div id="sobre-popup" class="popup-overlay">
        <div class="popup-content">
            <span class="popup-close" id="popup-close">&times;</span>
            <h2>TidyUp - Versão 1.0</h2>
            <p class="bold">Desenvolvedores:</p>
            <p>Paulo Henrique<br>Silas Vinicius</p>
            <p class="bold">Contato:</p>
            <p><a href="mailto:suporte@hgbsoft.com.br">suporte@hgbsoft.com.br</a></p>
            <p class="bold">Whatsapp:</p>
            <p><a href="https://api.whatsapp.com/send/?phone=8188363056&text&type=phone_number&app_absent=0" target="_blank">81 98836-3056</a></p>
            <br>
            <br>
            <br>
            <a href="https://hgbsoft.com.br">
                <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo">
            </a>
        </div>
    <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>
        document.getElementById('sobre-btn').addEventListener('click', function(event) {
            event.preventDefault(); // Impede o comportamento padrão do link
            document.getElementById('sobre-popup').style.display = 'flex';
        });

        document.getElementById('popup-close').addEventListener('click', function() {
            document.getElementById('sobre-popup').style.display = 'none';
        });

        window.addEventListener('click', function(event) {
            if (event.target === document.getElementById('sobre-popup')) {
                document.getElementById('sobre-popup').style.display = 'none';
            }
        });
    </script>
</body>
</html>
